/*global*/ 
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
    color:white;
}
img{
    max-width: 100%;
}
/*utilities*/
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.flex-parent-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-details{
    display: block;
    background-color: orange;
    padding:10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    text-align: center;
}
/*header*/
.init-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.menu{
    margin-right: 20px;
}
.menu a:last-of-type{
margin-right: 0px;
}
/*about*/

.about-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*houses section*/
.houses-container{
    display: flex;

}
.house-item{
    background-color: #dedede;
    margin-bottom: 20px;
    border: 1p solid gray ;  
    margin-right: 20px;  
}

.btn-details{
    display: block;
    background-color: rgb(133, 89, 9);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.house-item-img{

}
.house-item-text{
    padding: 20px;
}
.item-container{
    display: flex;
}
.item-num{
    display: flex;

}
/*contact*/

.contact-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    color:orange;
    text-align: center;
}
.contact-header a{
    color: black;
}
.main-center{

}
.contact-container{

}
.contact-text{
    text-align: center;
}
.instuction{

}
.instuction-details{
    
}