/*global*/ 
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
    color:white;
}
img{
    max-width: 100%;
}
/*utilities*/
.container{
    width:80%;
    margin: 0 auto;
}
.flex-parent-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-details{
    display: block;
    background-color: orange;
    padding:10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    text-align: center;
}
/*header*/
.init-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.menu{
    margin-right: 20px;
}
.menu a:last-of-type{
margin-right: 0px;
}
/*about*/

.about-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*houses section*/
.houses-container{
    display: flex;

}
.house-item{
    background-color: #dedede;
    margin-bottom: 20px;
    border: 1px solid gray ;
    margin-right: 20px;   
}

.btn-details{
    display: block;
    background-color: rgb(226, 149, 6);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.house-item-img{
    padding: 20px;
}
.house-item-text{
    padding: 20px;
}
.item-container{
    display: flex;
}
.item-num{
    display: flex;
    justify-content: center;
    width: 30%;
}
/*contact*/

.contact-header{
    background-color: orange;
    height: 200px;
}
.contact-header a{
    color: black;
}
.contact-text{
    text-align: center;
}
.contact-text{
    text-align: center;
}
.instuction{
    font-weight: 700;
}
.instuction-details{
    font-weight: 300;
}
.form{
    background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
}
fieldset{
    border-radius: 10px;
    border: 1p solid black;
}
legend{
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.input-control{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.input-control label{
    width: 20%;
}
.input-control input{
    width: 80%;
}

/*footr*/
footer{
  background-color: #dedede;
  height: 150px;

}
.footer-text{
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}
.text-bold{
  font-weight: 700;
  text-decoration: underline;
}
.policy-info{
  display: flex;
}
.cr-text{
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}
.sm-container{
  display: flex;
}
.sm-icon{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  margin-right:10px ;
}
